<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <div>
        <i style="color: #FE703E; font-size: 30px;" class="fa-solid fa-house"></i>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="images"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <i style="font-size: 30px;" class="fa-solid fa-bookmark"></i>    
    </ion-tab-button>
    <ion-tab-button tab="tab4">
      <i style="font-size: 30px;" class="fa-solid fa-money-bill-wave"></i>    
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>