<ion-content [fullscreen]="true">
  <div style="padding: 10% 5%">
    <div>
      <div>
        <div>
          <div style="display: flex; align-items: center;padding: 0% 5%">
            <div style="margin-right: 10%;">
              <i class="fa-solid fa-bars"></i>
            </div>
            <div
          style="display: flex; justify-content: center; align-items: center">
          <div
            style="
              border: 3px groove rgb(235, 117, 117);
              border-radius: 50%;
              padding: 15px;
            "
          >
            <img
              src="assets/image/talogo.png"
              style="width: 30; height: 40px"
            />
          </div>
          <p
            style="
              text-transform: uppercase;
              font-size: 23px;
              color: rgb(235, 117, 117);
            "
          >
            THANH <span style="color: #000"> AN</span>
          </p>
        </div>
          </div>
        </div>
        <div>
          <ion-searchbar></ion-searchbar>
        </div>
        <div>
          <ul style="display: flex" class="menu-tag">
            <li>Tất cả</li>
            <li>Phương tiện</li>
            <li>Mỹ thuật</li>
            <li>Cổ vật</li>
          </ul>
        </div>
        <div>
          <div
            style="
              width: 90%;
              margin-left: 5%;
              padding: 5% 5%;
              text-align: center;
              border-radius: 23px;
              background-color: #e5e5e5;
            "
          >
            <img style="width: 100%" src="assets/image/01.png" alt="" />
            <a
              style="
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                overflow: hidden;
                text-decoration: none;
                color: #3c3c3c;
                font-family: 'Arial';;
                font-style: normal;
                font-weight: 700;
                font-size: 23px;
                line-height: 21px;
                margin-top: 5%;
              "
              href=""
              >Các vật tư thiết bị được thu hồi đánh giá phế liệu từ các công
              trình điện (chất lượng X&lt;50%) đem bán thanh lý năm 2022 - đợt 1
              (tồn kho đến ngày 31/05/2022); Gồm Lô 2: Vật tư thiết bị thu hồi
              thanh lý có chứa chất thải nguy hại</a
            >
            <div>
              <p
                style="
                  font-size: 18px;
                  color: #43b055;
                  line-height: 20px;
                  margin-bottom: 5px;
                "
              >
                Giá khởi điểm :
                <span
                  style="
                    font-family: 'Arial';;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 13px;
                    color: #8f8f8f;
                  "
                  >5,000,000 USD</span
                >
              </p>
            </div>
            <div
              style="
                font-family: 'Arial';;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 13px;

                color: #26d3de;
              "
            >
              04/05/2021 16:46:00
            </div>
            <div>
              <p style="color: white; background: -webkit-linear-gradient(90deg, #3da9f5 0%, #683df5 100%); padding: 5%; border-radius: 23px;">Chi tiết</p>
            </div>
          </div>
          <div
          style="
            width: 90%;
            margin-left: 5%;
            padding: 5% 5%;
            text-align: center;
            border-radius: 23px;
            background-color: #e5e5e5;
            margin-top: 5%;
          "
        >
          <img style="width: 100%; border-radius: 13px; margin-bottom: 10px;" src="assets/image/06.png" alt="" />
          <a
            style="
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              text-overflow: ellipsis;
              overflow: hidden;
              text-decoration: none;
              color: #3c3c3c;
              font-family: 'Arial';;
              font-style: normal;
              font-weight: 700;
              font-size: 23px;
              line-height: 21px;
              margin-top: 5%;
            "
            href=""
            >Các vật tư thiết bị được thu hồi đánh giá phế liệu từ các công
            trình điện (chất lượng X&lt;50%) đem bán thanh lý năm 2022 - đợt 1
            (tồn kho đến ngày 31/05/2022); Gồm Lô 2: Vật tư thiết bị thu hồi
            thanh lý có chứa chất thải nguy hại</a
          >
          <div>
            <p
              style="
                font-size: 18px;
                color: #43b055;
                line-height: 20px;
                margin-bottom: 5px;
              "
            >
              Giá khởi điểm :
              <span
                style="
                  font-family: 'Arial';;
                  font-style: normal;
                  font-weight: 400;
                  font-size: 15px;
                  line-height: 13px;
                  color: #8f8f8f;
                "
                >5,000,000 USD</span
              >
            </p>
          </div>
          <div
            style="
              font-family: 'Arial';;
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: 13px;

              color: #26d3de;
            "
          >
            04/05/2021 16:46:00
          </div>
          <div>
            <p style="color: white; background: -webkit-linear-gradient(90deg, #3da9f5 0%, #683df5 100%); padding: 5%; border-radius: 23px;">Chi tiết</p>
          </div>
        </div>
        </div>
        <h3 style="text-align: center; font-size: 23px; font-weight: 700; margin:  10% 0;">Phương tiện/phế liệu</h3>
        <div
            style="
              width: 90%;
              margin-left: 5%;
              padding: 5% 5%;
              text-align: center;
              border-radius: 23px;
              background-color: #e5e5e5;
            "
          >
            <img style="width: 100%" src="assets/image/01.png" alt="" />
            <a
              style="
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                overflow: hidden;
                text-decoration: none;
                color: #3c3c3c;
                font-family: 'Arial';;
                font-style: normal;
                font-weight: 700;
                font-size: 23px;
                line-height: 21px;
                margin-top: 5%;
              "
              href=""
              >Các vật tư thiết bị được thu hồi đánh giá phế liệu từ các công
              trình điện (chất lượng X&lt;50%) đem bán thanh lý năm 2022 - đợt 1
              (tồn kho đến ngày 31/05/2022); Gồm Lô 2: Vật tư thiết bị thu hồi
              thanh lý có chứa chất thải nguy hại</a
            >
            <div>
              <p
                style="
                  font-size: 18px;
                  color: #43b055;
                  line-height: 20px;
                  margin-bottom: 5px;
                "
              >
                Giá khởi điểm :
                <span
                  style="
                    font-family: 'Arial';;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 13px;
                    color: #8f8f8f;
                  "
                  >5,000,000 USD</span
                >
              </p>
            </div>
            <div
              style="
                font-family: 'Arial';;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 13px;

                color: #26d3de;
              "
            >
              04/05/2021 16:46:00
            </div>
            <div>
              <p style="color: white; background: -webkit-linear-gradient(90deg, #3da9f5 0%, #683df5 100%); padding: 5%; border-radius: 23px;">Chi tiết</p>
            </div>
          </div>
      </div>

    </div>
  </div>
</ion-content>
