
<ion-content [fullscreen]="true">
  <div style="padding: 10% 10%; width: 100%; ">
    <div style="display: flex; justify-content: center;">
      <div style=" border: 3px groove #442db9; border-radius: 50%; padding: 15px;"><img src="assets/image/talogo.png" style="width: 60;height: 70px;"></div>
    </div>
    <div>
     <h3 style="font-family: 'Poppins';
     font-style: normal;
     font-weight: 700;
     font-size: 24px;
     line-height: 36px;
     text-align: center;
     margin-bottom: 10%;
     color: 
     #442db9">Đăng ký</h3>
    </div>
    <div style="background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.33);
    border-radius: 30px; padding: 3% 10%;">
      <div>
        <p style="font-family: 'Arial';;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        letter-spacing: 0.37px;
        color: rgba(0, 0, 0, 0.38);
        ">Bạn đã có tài khoản? <span style="color: #442db9;">Đăng nhập</span></p>
      </div>
      <div style="display: flex; align-items: center; justify-content: space-between; position: relative;">
        <span style="z-index:2 ;border: 1px solid gray; padding: 0 5px; border-radius: 50%; background-color: #442db9; color: white;">1</span>
        <span style="z-index:2 ;border: 1px solid gray; padding:0 5px; border-radius: 50%; background-color: gray; color: white;">2</span>
        <span style="z-index:2 ;border: 1px solid gray; padding:0 5px; border-radius: 50%; background-color:gray ; color: white;">3</span>
        <span style="width: 100%; height: 1px; background-color: black; position: absolute; top: 49%; z-index: 1;"></span>
      </div>
      <div>
        <p style="font-family: 'Arial';;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        
        color: rgba(0, 0, 0, 0.4);">Loại tài khoản</p>
        <div style="display: flex; justify-content: space-between; align-items: center;">
          <div style="display: flex; justify-content: space-between;
          border: 2px solid #442db9;  font-family: 'Arial';; padding:3% 7%;
          font-style: normal;
          font-weight: 700;
          color: #442db9; border-radius: 10px;">
            <input type="radio">
            <span>Cá nhân</span>
          </div>
          <div style="display: flex; justify-content: space-between;
          border: 2px solid #442db9;  font-family: 'Arial';; padding:3% 7%;
          font-style: normal;
          font-weight: 700;
          color: #442db9; border-radius: 10px;">
            <input type="radio">
            <span>Tổ chức</span>
          </div>
        </div>
        <div>
          <div>
            <p style="font-family: 'Arial';;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            /* identical to box height */
            color: rgba(0, 0, 0, 0.9);">Email <span style="color: #442db9;">*</span></p>
            <input style="width: 100%; background: #FFFFFF;
            border: 1px solid #D9D9D9;
            border-radius: 6px;" type="text">
          </div>
          <div>
            <p style="font-family: 'Arial';;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            /* identical to box height */
            color: rgba(0, 0, 0, 0.9);">Số điện thoại <span style="color: #442db9;">*</span></p>
            <input style="width: 100%; background: #FFFFFF;
            border: 1px solid #D9D9D9;
            border-radius: 6px;" type="text">
          </div>
          <div>
            <p style="font-family: 'Arial';;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            /* identical to box height */
            color: rgba(0, 0, 0, 0.9);">Tên đăng nhập <span style="color: #442db9;">*</span></p>
            <input style="width: 100%; background: #FFFFFF;
            border: 1px solid #D9D9D9;
            border-radius: 6px;" type="text">
          </div>
          <div>
            <p style="font-family: 'Arial';;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            /* identical to box height */
            color: rgba(0, 0, 0, 0.9);">Mật khẩu <span style="color: #442db9;">*</span></p>
            <input style="width: 100%; background: #FFFFFF;
            border: 1px solid #D9D9D9;
            border-radius: 6px;" type="text">
          </div>
          <div>
            <p style="font-family: 'Arial';;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            /* identical to box height */
            color: rgba(0, 0, 0, 0.9);">Nhập lại mật khẩu <span style="color: #442db9;">*</span></p>
            <input style="width: 100%; background: #FFFFFF;
            border: 1px solid #D9D9D9;
            border-radius: 6px;" type="text">
          </div>
          
        </div>
        <div>
          <button style="width: 100%;height: 60px;left: 43px;top: 567px;background: #442db9;border-radius: 18px;color: #FFFFFF; font-family: 'Arial';;font-style: normal;font-weight: 700;font-size: 24px;line-height: 28px; margin: 10% 0; ">Tiếp theo</button>
        </div>
      </div>
    </div>
  </div>
  <!-- <app-register-component1></app-register-component1> -->

</ion-content>
